/*----------  Primary colors  ----------*/
/*----------  Neutral  ----------*/
/*----------  Font Sizes  ----------*/
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/*----------  Mobile max approach  ----------*/
/*----------  Desktop min approach  ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin-top: 0px;
  font-weight: 300;
  line-height: 1.15;
  font-size: 2.31rem;
}

a,
a:visited,
a:hover {
  color: white;
}

/*----------  Buttons  ----------*/
button,
.button {
  display: inline-block;
  padding: 0;
  background: white;
  border-radius: 0px;
  border: 0;
  color: black;
  font-weight: 100;
  font-size: 0.875rem;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}

/*----------  MediaQueries (Mobile First) ----------*/
@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

/*=====  Spacing naming  ======*/
/** 
1- --pall(padding all)
2- --py(padding vertical)
3- --px(padding horizontal)
4- --pt(padding top)
5- --pl(padding left)
6- --pr(padding right)
7- --pb(padding bottom)
**/
/* 1440px + hyperclass ok*/
.container {
  max-width: 90rem;
  margin: auto;
  background: red;
  /*----------  Hyperclass ----------*/
}
.container--pall {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375remm;
}
@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container--pt {
  padding-top: 4.375rem;
  /*Breakpoint*/
  /**/
}
.container--pl {
  padding-left: 1.5rem;
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 4.375rem;
  /*Breakpoint*/
  /**/
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-content: center;
}

.flex-direction-r {
  flex-direction: column;
  display: flex;
  align-items: center;
}

/*=====  Section 1 [ Header ]  ======*/
.header {
  /*background: blue;*/
  /** 
   * Section Name
   * > <nav>
   * >> header__block
   * >>> header__logo
   * >>> header__text
   * >> header__links
   * >>> <a>
   * >> header__location
   * >>> img
   * >>> span
   */
}
.headergreen {
  background: #039b4a;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.625rem;
  padding-right: 3.45rem;
  padding-bottom: 0.625rem;
  padding-left: 3.45rem;
}
.header__block {
  display: block;
}
.header__logo img {
  width: 5.625rem;
  height: 3.25rem;
}
.header__text {
  display: block;
}
.header__links {
  display: flex;
}
.header__links a {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}
.header__links a:not(:last-child) {
  margin-right: 2rem;
}
.header__location {
  display: flex;
  align-items: center;
}
.header__location img {
  width: 2.5rem;
  height: 1.75rem;
}
.header__location span {
  position: relative;
  font-size: 0.875rem;
  color: black;
  margin-left: 1.125rem;
}
.header__location i {
  cursor: pointer;
}

.hero__text-box {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 17.25rem;
  padding: 0.9375rem;
  margin-left: 5%;
  color: white;
}
.hero__text-box {
  background: gray;
}
.hero__truck-background {
  background: #039b4a;
}
.hero__truck-background img {
  /*coller l'image au bord droite*/
  margin-left: 43.5%;
  background: magenta;
}

/* Slide Effect
#record {
  -webkit-transition: left 0.5s ease-out; 
     -moz-transition: left 0.5s ease-out; 
      -ms-transition: left 0.5s ease-out; 
       -o-transition: left 0.5s ease-out; 
          transition: left 0.5s ease-out;
}

#container:hover #record {
    left: 100px;  
}
*/
.vehicules {
  margin-top: 100px;
}
.vehicules__title {
  font-size: 50px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}
.vehicules__frame {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.125rem;
  max-width: 1110px;
  justify-content: space-between;
}
.vehicules__card {
  /*margin-left: 200px;*/
  margin: 25px 0 25px 0;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
}
.vehicules__card img {
  height: 139px;
  width: 305px;
  border-radius: 10px 10px 0 0;
}
.vehicules .model {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 300;
}

.about {
  /*Spacing conteneur*/
  margin: 30px 15px 0 15px;
}
.about__text {
  display: block;
  max-width: 600px;
  background: yellow;
}
.about__text .title {
  font-size: 35px;
}
.about__text .subtitle {
  font-size: 20px;
  color: green;
}
.about__text .description {
  font-size: 12px;
}
.about__image {
  background-image: url();
}

/*# sourceMappingURL=style.css.map */
