/*----------  Primary colors  ----------*/
/*----------  Neutral  ----------*/
/*----------  Font Sizes  ----------*/
/*----------  Font Weight  ----------*/
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/*----------  Mobile max approach  ----------*/
/*----------  Desktop min approach  ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin-top: 0px;
  line-height: 1.15;
  font-size: 2.31rem;
  font-weight: 300;
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button,
.button {
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0;
  width: 280px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  line-height: 1;
  color: black;
  font-family: "Mulish", sans-serif;
  text-align: center;
  border: 0;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
@media screen and (max-width: 640px) {
  button,
.button {
    margin-top: 50px;
  }
}

.button.green {
  background-color: #039f4e;
  color: #fefefe;
}

.button_reference {
  display: inline-block;
  /*ok*/
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  /*ok*/
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 0.9rem;
  /* other ok*/
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  /*ok*/
  background-color: #039f4e;
  color: #fefefe;
}

@media screen and (max-width: 639px) {
  .contact-hide-for-mobile {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .only-for-mobile {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .hide-for-tablet {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 1146px) {
  .hide-contact {
    display: none;
  }
}

@media screen and (max-width: 1146px) {
  .hide-for-desktop {
    display: none;
  }
}

.hide-text-for-desktop {
  background: red;
}
@media screen and (max-width: 800px) {
  .hide-text-for-desktop {
    display: none;
  }
}

/*=====  Spacing naming  ======*/
/** 
1- --pall(padding all)
2- --py(padding vertical)
3- --px(padding horizontal)
4- --pt(padding top)
5- --pl(padding left)
6- --pr(padding right)
7- --pb(padding bottom)
**/
/* 1440px + hyperclass ok*/
.container {
  max-width: 90rem;
  margin: auto;
  /*border: 1px solid red;*/
  /*----------  Hyperclass ----------*/
}
.container--pall {
  padding: 25px;
}
.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375remm;
}
.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container--pt {
  padding-top: 4.375rem;
}
.container--pl {
  padding-left: 1.5rem;
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 4.375rem;
}
.container-bg-c-green {
  background: #039f4e;
}
.container-bg-c-gray {
  background: #f7fcf8;
}
.container-bg-c-black {
  background: black;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-fs {
  justify-content: flex-start;
  transition: 1s all ease;
}
@media screen and (max-width: 1146px) {
  .flex-jc-fs {
    justify-content: center;
    transition: 1s all ease;
  }
}
.flex-ai-c {
  align-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-d-col {
  flex-direction: column;
  align-items: center;
}

.flex-direction-r {
  flex-direction: column;
  display: flex;
  align-items: center;
}

/*=====  Section 1 [ Header ]  ======*/
.header {
  /*mettre hamburger ici*/
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.625rem;
  padding-right: 3.45rem;
  padding-bottom: 0.625rem;
  padding-left: 3.45rem;
}
.header__block {
  display: block;
}
.header__logo img {
  width: 5.625rem;
  height: 3.25rem;
}
.header__text {
  display: block;
  font-family: "Poppins", sans-serif;
  line-height: 1.0625rem;
}
.header__links {
  display: flex;
}
@media screen and (max-width: 1146px) {
  .header__links {
    display: none;
  }
}
.header__links a {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: black;
}
.header__links a:not(:last-child) {
  margin-right: 2rem;
}
.header__location {
  display: flex;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .header__location {
    display: none;
  }
}
.header__location img {
  width: 2.5rem;
  height: 1.75rem;
}
.header__location span {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: black;
  margin-left: 1.125rem;
}
.header__location i {
  cursor: pointer;
}

.hero__text-box {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  padding: 70px 0 0 30px;
  margin-left: 5%;
  color: white;
}
@media screen and (max-width: 640px) {
  .hero__text-box {
    justify-content: center;
    margin-left: 0;
    width: 412px;
    padding: auto;
    transition: 1s all ease;
  }
}
.hero__title {
  padding-top: 30px;
}
.hero__title p {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 2.1875rem;
}
@media screen and (max-width: 640px) {
  .hero__title p {
    width: 380px;
    line-height: 50px;
  }
}
.hero__title p:last-child {
  padding-top: 30px;
}
.hero__description {
  padding-top: 1.25rem;
  font-family: "Mulish", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.hero__truck-background {
  background: #039f4e;
  height: 500px;
}
.hero__truck-background img {
  margin-left: 43.5%;
  padding: 0;
}

.vehicules {
  margin-top: 6.25rem;
}
.vehicules__title {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 3.125rem;
  font-weight: 800;
  line-height: 1.25rem;
  transition: 1s all ease;
}
@media screen and (max-width: 1146px) {
  .vehicules__title {
    font-size: 2.5rem;
    font-weight: 800;
    transition: 1s all ease;
  }
}
@media screen and (max-width: 800px) {
  .vehicules__title {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 640px) {
  .vehicules__title {
    width: 360px;
  }
  .vehicules__title p {
    font-size: 35px;
    line-height: 35px;
  }
}
.vehicules__frame {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.125rem;
  max-width: 69.375rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  justify-content: space-between;
}
@media screen and (max-width: 1146px) {
  .vehicules__frame {
    /*regle probleme center col2 et col1*/
    max-width: 1000px;
    padding-right: 8%;
    padding-left: 8%;
  }
}
@media screen and (max-width: 1000px) {
  .vehicules__frame {
    max-width: 650px;
  }
}
.vehicules__card1 {
  margin: 25px 0 25px 0;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
  /*1*/
}
.vehicules__card1 .image1 {
  position: relative;
  display: inline-block;
  width: 19.0625rem;
  height: 8.6875rem;
  background: url("/images/models/1/truck_model_01_small.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
  opacity: 0.7;
}
@media screen and (max-width: 1146px) {
  .vehicules__card1 .image1 {
    background: url("/images/models/1/truck_model_01_medium.jpg") no-repeat;
    width: 405px;
    height: 185px;
  }
}
@media screen and (max-width: 1000px) {
  .vehicules__card1 .image1 {
    background: url("/images/models/1/truck_model_01_big.jpg") no-repeat;
    width: 504px;
    height: 247px;
  }
}
@media screen and (max-width: 640px) {
  .vehicules__card1 .image1 {
    border: 4px solid red;
    background: url("/images/models/1/truck_model_01_medium.jpg") no-repeat;
    width: 405px;
    height: 185px;
  }
}
.vehicules__card1 .image1:hover {
  opacity: 1;
  cursor: pointer;
  background: url("/images/models/1/truck_H30_small.jpg") no-repeat;
}
@media screen and (max-width: 1146px) {
  .vehicules__card1 .image1:hover {
    background: url("/images/models/1/truck_H30_medium.jpg") no-repeat;
  }
}
@media screen and (max-width: 1000px) {
  .vehicules__card1 .image1:hover {
    background: url("/images/models/1/truck_H30_big.jpg") no-repeat;
  }
}
@media screen and (max-width: 640px) {
  .vehicules__card1 .image1:hover {
    background: url("/images/models/1/truck_H30_medium.jpg") no-repeat;
  }
}
.vehicules__card2 {
  margin: 25px 0 25px 0;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
  /*2*/
}
.vehicules__card2 .image2 {
  position: relative;
  display: inline-block;
  width: 19.0625rem;
  height: 8.6875rem;
  background: url("/images/models/2/truck_model_02_small.JPG") no-repeat;
  border-radius: 10px 10px 0 0;
  opacity: 0.7;
}
@media screen and (max-width: 1146px) {
  .vehicules__card2 .image2 {
    background: url("/images/models/1/truck_model_01_medium.jpg") no-repeat;
    width: 405px;
    height: 185px;
    /*image plus grande*/
  }
}
@media screen and (max-width: 1000px) {
  .vehicules__card2 .image2 {
    background: url("/images/models/1/truck_model_01_big.jpg") no-repeat;
    width: 504px;
    height: 247px;
    /*image plus grande*/
  }
}
@media screen and (max-width: 640px) {
  .vehicules__card2 .image2 {
    border: 4px solid red;
    background: url("/images/models/2/truck_model_02_medium.jpg") no-repeat;
    width: 405px;
    height: 185px;
  }
}
.vehicules__card2 .image2:hover {
  opacity: 1;
  cursor: pointer;
  background: url("/images/models/2/truck_FTR850_small.jpg") no-repeat;
}
@media screen and (max-width: 1146px) {
  .vehicules__card2 .image2:hover {
    background: url("/images/models/2/truck_FTR850_medium.jpg") no-repeat;
  }
}
@media screen and (max-width: 1000px) {
  .vehicules__card2 .image2:hover {
    background: url("/images/models/2/truck_FTR850_big.jpg") no-repeat;
  }
}
@media screen and (max-width: 640px) {
  .vehicules__card2 .image2:hover {
    background: url("/images/models/1/truck_H30_medium.jpg") no-repeat;
  }
}
.vehicules__card3 {
  margin: 1.5625rem 0 1.5625rem 0;
  background: white;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0.3125rem 0.5625rem 1.375rem 0.25rem rgba(0, 0, 0, 0.36);
  box-shadow: 0.3125rem 0.5625rem 1.375rem 0.25rem rgba(0, 0, 0, 0.36);
  /*3*/
}
.vehicules__card3 .image3 {
  position: relative;
  display: inline-block;
  width: 19.0625rem;
  height: 8.6875rem;
  background: url("/images/models/3/truck_model_03_small.JPG") no-repeat;
  border-radius: 10px 10px 0 0;
  opacity: 0.7;
}
@media screen and (max-width: 1146px) {
  .vehicules__card3 .image3 {
    background: url("/images/models/3/truck_model_03_medium.JPG") no-repeat;
    width: 25.3125rem;
    height: 11.5625rem;
  }
}
@media screen and (max-width: 1000px) {
  .vehicules__card3 .image3 {
    background: url("/images/models/3/truck_model_03_big.JPG") no-repeat;
    width: 31.5rem;
    height: 15.4375rem;
  }
}
@media screen and (max-width: 640px) {
  .vehicules__card3 .image3 {
    border: 4px solid red;
    background: url("/images/models/3/truck_model_03_medium.jpg") no-repeat;
    width: 405px;
    height: 185px;
  }
}
.vehicules__card3 .image3:hover {
  opacity: 1;
  cursor: pointer;
  background: url("/images/models/3/truck_NQR500_small.jpg") no-repeat;
}
@media screen and (max-width: 1146px) {
  .vehicules__card3 .image3:hover {
    background: url("/images/models/3/truck_NQR500_medium.jpg") no-repeat;
  }
}
@media screen and (max-width: 1000px) {
  .vehicules__card3 .image3:hover {
    background: url("/images/models/3/truck_NQR500_big.jpg") no-repeat;
  }
}
@media screen and (max-width: 640px) {
  .vehicules__card3 .image3:hover {
    background: url("/images/models/1/truck_H30_medium.jpg") no-repeat;
  }
}
.vehicules__card4 {
  margin: 25px 0 25px 0;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
  /*4*/
}
@media (min-width: 1146px) and (max-width: 2000px) {
  .vehicules__card4 {
    margin-left: 15%;
  }
}
.vehicules__card4 .image4 {
  position: relative;
  display: inline-block;
  width: 19.0625rem;
  height: 8.6875rem;
  background: url("/images/models/4/truck_model_04_small.JPG") no-repeat;
  border-radius: 10px 10px 0 0;
  opacity: 0.7;
}
@media screen and (max-width: 1146px) {
  .vehicules__card4 .image4 {
    background: url("/images/models/4/truck_model_04_medium.JPG") no-repeat;
    width: 405px;
    height: 185px;
    /*image plus grande*/
  }
}
@media screen and (max-width: 1000px) {
  .vehicules__card4 .image4 {
    background: url("/images/models/4/truck_model_04_big.JPG") no-repeat;
    width: 504px;
    height: 247px;
    /*image plus grande*/
  }
}
@media screen and (max-width: 640px) {
  .vehicules__card4 .image4 {
    border: 4px solid red;
    background: url("/images/models/4/truck_model_04_medium.jpg") no-repeat;
    width: 405px;
    height: 185px;
  }
}
.vehicules__card4 .image4:hover {
  opacity: 1;
  cursor: pointer;
  background: url("/images/models/4/truck_dyna_small.jpg") no-repeat;
}
@media screen and (max-width: 1146px) {
  .vehicules__card4 .image4:hover {
    background: url("/images/models/4/truck_dyna_medium.jpg") no-repeat;
  }
}
@media screen and (max-width: 1000px) {
  .vehicules__card4 .image4:hover {
    background: url("/images/models/4/truck_dyna_big.jpg") no-repeat;
  }
}
@media screen and (max-width: 640px) {
  .vehicules__card4 .image4:hover {
    background: url("/images/models/1/truck_H30_medium.jpg") no-repeat;
  }
}
.vehicules__card5 {
  margin: 25px 0 25px 0;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
  /*5*/
}
@media (min-width: 1146px) and (max-width: 2000px) {
  .vehicules__card5 {
    margin-right: 15%;
  }
}
.vehicules__card5 .image5 {
  position: relative;
  display: inline-block;
  width: 19.0625rem;
  height: 8.6875rem;
  background: url("/images/models/5/truck_model_05_small.jpg") no-repeat;
  border-radius: 10px 10px 0 0;
  opacity: 0.7;
}
@media screen and (max-width: 1146px) {
  .vehicules__card5 .image5 {
    background: url("/images/models/5/truck_model_05_medium.jpg") no-repeat;
    width: 405px;
    height: 185px;
    /*image plus grande*/
  }
}
@media screen and (max-width: 1000px) {
  .vehicules__card5 .image5 {
    background: url("/images/models/5/truck_model_05_big.jpg") no-repeat;
    width: 504px;
    height: 247px;
    /*image plus grande*/
  }
}
@media screen and (max-width: 640px) {
  .vehicules__card5 .image5 {
    border: 4px solid red;
    background: url("/images/models/5/truck_model_05_medium.jpg") no-repeat;
    width: 405px;
    height: 185px;
  }
}
.vehicules__card5 .image5:hover {
  opacity: 1;
  cursor: pointer;
  background: url("/images/models/5/truck_fourgon_small.jpg") no-repeat;
}
@media screen and (max-width: 1146px) {
  .vehicules__card5 .image5:hover {
    background: url("/images/models/5/truck_fourgon_medium.jpg") no-repeat;
  }
}
@media screen and (max-width: 1000px) {
  .vehicules__card5 .image5:hover {
    background: url("/images/models/5/truck_fourgon_big.jpg") no-repeat;
  }
}
@media screen and (max-width: 640px) {
  .vehicules__card5 .image5:hover {
    background: url("/images/models/1/truck_H30_medium.jpg") no-repeat;
  }
}
.vehicules .model {
  padding-left: 1.25rem;
  font-size: 1.25rem;
  height: 3.75rem;
  font-weight: bold;
}

.about {
  margin: 9.375rem 0.9375rem 0 0.9375rem;
}
.about__text {
  display: block;
  max-width: 43.75rem;
  margin-right: 0.9375rem;
  /* Mozilla navigateur CSS Grid Inspector */
  /*
  /*Grid container*/
}
.about__text .title {
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 2.1875rem;
}
@media screen and (max-width: 990px) {
  .about__text .title {
    font-size: 50px;
    line-height: 50px;
  }
}
@media screen and (max-width: 640px) {
  .about__text .title {
    padding-left: 60px;
    font-size: 45px;
    line-height: 60px;
  }
}
.about__text .subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.25rem;
  margin-top: 0.625rem;
  color: green;
}
@media screen and (max-width: 1146px) {
  .about__text .subtitle {
    font-size: 18px;
    line-height: 1.375rem;
  }
}
@media screen and (max-width: 990px) {
  .about__text .subtitle {
    font-size: 45px;
    line-height: 50px;
  }
}
@media screen and (max-width: 640px) {
  .about__text .subtitle {
    margin: 50px 0 0 12px;
    text-align: center;
    width: 412px;
    font-size: 45px;
    line-height: 80px;
  }
}
.about__text .description {
  font-family: "Mulish", sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-top: 0.625rem;
}
@media screen and (max-width: 1146px) {
  .about__text .description {
    padding-top: 1.375rem;
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 990px) {
  .about__text .description {
    font-size: 35px;
    line-height: 50px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 640px) {
  .about__text .description {
    display: none;
  }
}
.about__text .grid-container {
  padding-top: 0.625rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "title title title" "vehicles customers employees " "sites turnover refrigeration";
}
@media screen and (max-width: 640px) {
  .about__text .grid-container {
    display: none;
  }
}
.about__text .grid-container p {
  font-size: 0.875rem;
}
.about__text .grid-container .title {
  grid-area: title;
}
.about__text .grid-container .title p {
  font-weight: bold;
  color: green;
}
@media screen and (max-width: 1146px) {
  .about__text .grid-container .title p {
    font-size: 1.25rem;
  }
}
.about__text .grid-container .vehicles {
  grid-area: vehicles;
}
.about__text .grid-container .vehicles p:last-child {
  font-size: 0.625rem;
  color: gray;
}
.about__text .grid-container .customers {
  grid-area: customers;
}
.about__text .grid-container .customers p:last-child {
  font-size: 0.625rem;
  color: gray;
}
.about__text .grid-container .employees {
  grid-area: employees;
}
.about__text .grid-container .employees p:last-child {
  font-size: 0.625rem;
  color: gray;
}
.about__text .grid-container .sites {
  grid-area: sites;
}
.about__text .grid-container .sites p:last-child {
  font-size: 0.625rem;
  color: gray;
}
.about__text .grid-container .turnover {
  grid-area: turnover;
}
.about__text .grid-container .turnover p:last-child {
  font-size: 10px;
  color: gray;
}
.about__text .grid-container .refrigeration {
  grid-area: refrigeration;
}
.about__text .grid-container .refrigeration p:last-child {
  font-size: 0.625rem;
  color: gray;
}
.about img {
  margin-left: 0.9375rem;
  width: 27.125rem;
  height: 25rem;
  background-image: url("/images/truck_driver.JPG");
}
@media (min-width: 640px) and (max-width: 1146px) {
  .about img {
    background-image: url("/images/truck_driver2.jpg");
    background-repeat: no-repeat;
    width: 10.875rem;
  }
}
@media screen and (max-width: 990px) {
  .about img {
    display: none;
  }
}

.expertises {
  margin: 3.125rem 10% 0 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "title title title" "text1 car text3" "text2 car text4" "text5 text5 text5";
}
.expertises p {
  font-family: "Poppins", sans-serief;
  font-size: 0.75rem;
  font-weight: bold;
}
.expertises__title {
  grid-area: title;
  justify-self: center;
}
.expertises__title p {
  text-align: center;
  color: green;
}
.expertises__title p:last-child {
  padding-top: 0.625rem;
  font-size: 2.1875rem;
  color: black;
}
.expertises__text1 {
  grid-area: text1;
  text-align: end;
}
.expertises__text1 p:last-child {
  padding: 0.625rem;
  font-weight: normal;
}
.expertises__text2 {
  grid-area: text2;
  text-align: end;
}
.expertises__text2 p:last-child {
  padding: 0.625rem;
  font-weight: normal;
}
.expertises__car {
  grid-area: car;
}
.expertises__car img {
  justify-content: center;
}
.expertises__text3 {
  grid-area: text3;
}
.expertises__text3 p:last-child {
  padding: 0.625rem;
  font-weight: normal;
}
.expertises__text4 {
  grid-area: text4;
}
.expertises__text4 p:last-child {
  padding: 0.625rem;
  font-weight: normal;
}
.expertises__text5 {
  grid-area: text5;
  justify-self: center;
}
.expertises__text5 p {
  text-align: center;
}
.expertises__text5 p:last-child {
  padding: 0.625rem;
  font-weight: normal;
}

.services {
  margin-top: 50px;
  color: white;
}
.services__contents {
  position: relative;
  display: flex;
  width: 100%;
  background: linear-gradient(0deg, #039f4e 89.3%, white 70%);
}
@media screen and (max-width: 1146px) {
  .services__contents {
    justify-content: center;
  }
}
.services__contents img {
  width: 50%;
}
.services__contents .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "title title" "opening maintenance" "parts repairs" "support customisation" "button button";
}
@media screen and (max-width: 640px) {
  .services__contents .grid-container {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "title" "opening " "maintenance" "parts" "repairs" "support" "customisation" "button";
    transition: 1s all ease;
  }
}
.services__contents .grid-container p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding: 14px 0 0 20px;
}
@media screen and (max-width: 640px) {
  .services__contents .grid-container p {
    font-size: 28px;
  }
}
.services__contents .grid-container .title {
  padding-top: 140px;
  grid-area: title;
}
.services__contents .grid-container .title p {
  font-size: 50px;
}
.services__contents .grid-container .opening {
  grid-area: opening;
}
.services__contents .grid-container .opening p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .maintenance {
  grid-area: maintenance;
}
.services__contents .grid-container .maintenance p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .parts {
  grid-area: parts;
}
.services__contents .grid-container .parts p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .repairs {
  grid-area: repairs;
}
.services__contents .grid-container .repairs p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .support {
  grid-area: support;
}
.services__contents .grid-container .support p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .customisation {
  grid-area: customisation;
}
.services__contents .grid-container .customisation p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .button {
  color: black;
  grid-area: button;
}
.services__contents .grid-container .button p:last-child {
  font-family: "Mulish", sans-serif;
  font-weight: normal;
}

.contact {
  /*Mobile*/
}
@media screen and (max-width: 640px) {
  .contact {
    background: b;
  }
}
.contact__left-bloc {
  background: #f7fcf8;
  padding: 50px;
}
.contact__left-bloc h6 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  padding-left: 0.625rem;
}
.contact__left-bloc p {
  padding-top: 1.875rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5625rem;
  font-weight: 800;
  line-height: normal;
}
.contact__left-bloc p:last-child {
  padding-top: 1.25rem;
  font-family: "Mulish", sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.875rem;
}
@media (min-width: 639px) and (max-width: 2000px) {
  .contact__right-bloc {
    padding: 50px;
    /* GRID */
  }
  .contact__right-bloc .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.875rem;
    gap: 1.875rem;
    /* Element */
  }
  .contact__right-bloc .wrapper .box {
    width: 100%;
    position: relative;
    padding: 1.25rem;
    /*Input*/
    /*Label*/
  }
  .contact__right-bloc .wrapper .box input {
    width: 100%;
    font-size: 1.25rem;
    background: transparent;
    border: none;
    outline: none;
    /* outline-sytle de border */
    border-bottom: 1px solid gray;
    transition: 0.5s linear;
  }
  .contact__right-bloc .wrapper .box input:focus,
.contact__right-bloc .wrapper .box .wrapper .box input:valid {
    padding: 5px 5px;
    background: #039f4e;
    opacity: 0.3;
    margin-top: 0.625rem;
    transition: 0.5s all ease;
  }
  .contact__right-bloc .wrapper .box input[type=submit] {
    width: 250px;
    height: 40px;
    font-size: 12px;
    font-weight: normal;
    color: white;
    cursor: pointer;
    background: #039f4e;
  }
  .contact__right-bloc .wrapper .box label {
    top: 0;
    left: 0;
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s linear;
  }
  .contact__right-bloc .wrapper .box label.info {
    font-size: 12px;
    font-weight: normal;
  }
  .contact__right-bloc .wrapper .box textarea {
    background: transparent;
    border: 0 none;
    width: 100%;
    border-bottom: 1px solid gray;
  }
  .contact__right-bloc .wrapper .box textarea:focus {
    background: #039f4e;
    opacity: 0.3;
  }
  .contact__right-bloc .wrapper .box select {
    background: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid gray;
  }
}
@media screen and (max-width: 639px) {
  .contact {
    display: grid;
  }
}
.contact .container .flex {
  background: gray;
  /*Fin media*/
}

.maps__content-address {
  position: absolute;
  padding: 40px 0 0 30px;
}
@media screen and (max-width: 1146px) {
  .maps__content-address {
    max-width: 320px;
  }
}
.maps__content-address .contact {
  font-family: "Mulish", sans-serif;
  padding: 0 0 20px 20px;
  background: #e0d8d8;
  border-bottom: 1px solid gray;
}
.maps__content-address .contact span {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}
.maps__content-address .spots {
  background: white;
  padding-left: 1.25rem;
}
.maps__content-address .spots p {
  font-family: "Mulish", sans-serif;
  height: 7.3125rem;
  width: 33.4375rem;
  padding-top: 0.625rem;
  border-bottom: 1px solid gray;
  color: #000;
}
@media screen and (max-width: 1146px) {
  .maps__content-address .spots p {
    max-width: 15.625rem;
  }
}
.maps__content-address .spots span {
  /*Title*/
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}
.maps__content-address .spots .chevron-right::after {
  content: "";
  margin-left: 31.25rem;
  display: inline-block;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 0.625rem;
  height: 0.625rem;
  transform: rotate(225deg);
  transition: 0.5s all ease;
}
@media screen and (max-width: 1146px) {
  .maps__content-address .spots .chevron-right::after {
    margin-left: 30px;
  }
}
.maps__content-address .spots p:hover {
  background: #e0d8d8;
  transition: 0.5s all ease-out;
}
@media screen and (max-width: 640px) {
  .maps__content-address-mobile {
    position: absolute;
    /*padding: 40px 0 0 30px;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "contact contact contact" "town1 town2 town3" "button1 button2 button3";
    transition: 0.5s all ease;
    background: white;
    color: black;
    /*----------  Subsection comment block  ----------*/
  }
  .maps__content-address-mobile p {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
  }
  .maps__content-address-mobile .contact {
    grid-area: contact;
    text-align: center;
  }
  .maps__content-address-mobile .contact p {
    font-weight: bold;
  }
  .maps__content-address-mobile .contact p span {
    font-weight: normal;
    font-size: 30px;
  }
  .maps__content-address-mobile .town1 {
    grid-area: town1;
    padding: 0 0 20px 15px;
    border-right: 1px solid gray;
  }
  .maps__content-address-mobile .town1 p:last-child {
    padding-top: 14px;
    font-weight: normal;
  }
  .maps__content-address-mobile .town2 {
    grid-area: town2;
    padding: 0 0 20px 15px;
    border-right: 1px solid gray;
  }
  .maps__content-address-mobile .town2 p:last-child {
    padding-top: 14px;
    font-weight: normal;
  }
  .maps__content-address-mobile .town3 {
    padding: 0 0 20px 15px;
  }
  .maps__content-address-mobile .town3 p:last-child {
    padding-top: 14px;
    font-weight: normal;
  }
  .maps__content-address-mobile .button1 {
    grid-area: button1;
  }
  .maps__content-address-mobile .button1 a {
    font-size: 30px;
    background: #e0d8d8;
    border-radius: 10px;
    padding-top: 0px;
    color: black;
  }
  .maps__content-address-mobile .button2 {
    grid-area: button2;
  }
  .maps__content-address-mobile .button2 a {
    font-size: 30px;
    background: #e0d8d8;
    border-radius: 10px;
    padding-top: 0px;
    color: black;
  }
  .maps__content-address-mobile .button3 {
    grid-area: button3;
  }
  .maps__content-address-mobile .button3 a {
    font-size: 30px;
    background: #e0d8d8;
    border-radius: 10px;
    padding-top: 0px;
    color: black;
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__row .logo {
  padding-top: 2.1875rem;
  padding-left: 2.5rem;
}
.footer__row .logo span {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.footer__row .disclaimer {
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.footer__row .disclaimer p {
  font-family: "Mulish", sans-serif;
  font-size: 0.9375rem;
  margin: 0.625rem;
  padding-top: 1.25rem;
  line-height: 1.25rem;
}
@media screen and (max-width: 639px) {
  .footer__row .disclaimer p {
    font-size: 1.875rem;
    color: gray;
    line-height: 2.5rem;
  }
}
.footer__row .disclaimer p:last-child {
  padding-bottom: 1.25rem;
}

.footer-bis {
  color: white;
  /* */
}
.footer-bis__legal {
  display: flex;
  align-items: center;
}
.footer-bis__legal p {
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  padding-left: 1.875rem;
}

.builder {
  margin-top: 0.9375rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.builder__row p {
  font-family: poppins;
  color: gray;
}
.builder__row span {
  font-size: 1.25rem;
  color: red;
}
.builder__row a {
  color: black;
}

/*# sourceMappingURL=style.css.map */
