@charset "UTF-8";
/*----------  Primary colors  ----------*/
/*----------  Neutral  ----------*/
/*----------  Font Sizes  ----------*/
/*----------  Font Weight  ----------*/
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/*----------  Mobile max approach  ----------*/
/*----------  Desktop min approach  ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin-top: 0px;
  line-height: 1.15;
  font-size: 2.31rem;
  font-weight: 300;
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/*----------  Buttons  ----------*/
button,
.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  /*transition: opacity 300ms ease-in-out;*/
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  /*font-family: inherit;*/
  font-weight: 100;
  font-size: 14px;
  /*font-weight: normal;*/
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: black;
}

.button.green {
  background-color: #039f4e;
  color: #fefefe;
}

.button_reference {
  display: inline-block;
  /*ok*/
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  /*ok*/
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 0.9rem;
  /* other ok*/
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  /*ok*/
  background-color: #039f4e;
  color: #fefefe;
}

/*----------  MediaQueries (Mobile First) ----------*/
@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

/*=====  Spacing naming  ======*/
/** 
1- --pall(padding all)
2- --py(padding vertical)
3- --px(padding horizontal)
4- --pt(padding top)
5- --pl(padding left)
6- --pr(padding right)
7- --pb(padding bottom)
**/
/* 1440px + hyperclass ok*/
.container {
  max-width: 90rem;
  margin: auto;
  /*border: 1px solid red;*/
  /*----------  Hyperclass ----------*/
}
.container--pall {
  padding: 25px;
}
.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375remm;
}
.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container--pt {
  padding-top: 4.375rem;
}
.container--pl {
  padding-left: 1.5rem;
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 4.375rem;
}
.container-bg-c-green {
  background: #039b4a;
}
.container-bg-c-gray {
  background: #e0ebeb;
}
.container-bg-c-black {
  background: black;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-fs {
  justify-content: flex-start;
}
.flex-ai-c {
  align-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-d-col {
  flex-direction: column;
  align-items: center;
}

.flex-direction-r {
  flex-direction: column;
  display: flex;
  align-items: center;
}

/*=====  Section 1 [ Header ]  ======*/
@media (max-width: 39.9375rem) {
  .header {
    color: black;
    font-weight: bold;
  }
}
@media (min-width: 40em) {
  .header {
    color: green;
    font-weight: bold;
  }
}
@media (min-width: 64em) {
  .header {
    color: magenta;
    font-weight: bold;
  }
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.625rem;
  padding-right: 3.45rem;
  padding-bottom: 0.625rem;
  padding-left: 3.45rem;
}
.header__block {
  display: block;
}
.header__logo img {
  width: 5.625rem;
  height: 3.25rem;
}
.header__text {
  display: block;
  font-family: "Poppins", sans-serif;
  line-height: 17px;
}
.header__links {
  display: flex;
  /* Tablette */
}
@media screen and (max-width: 1023px) {
  .header__links {
    display: none;
  }
}
.header__links a {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: black;
}
.header__links a:not(:last-child) {
  margin-right: 2rem;
}
.header__location {
  display: flex;
  align-items: center;
}
.header__location img {
  width: 2.5rem;
  height: 1.75rem;
}
.header__location span {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: black;
  margin-left: 1.125rem;
}
.header__location i {
  cursor: pointer;
}

.hero__text-box {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  padding: 70px 0 0 30px;
  margin-left: 5%;
  color: white;
}
.hero__title {
  padding-top: 30px;
}
.hero__title p {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 2.1875rem;
}
.hero__title p:last-child {
  padding-top: 30px;
}
.hero__description {
  padding-top: 1.25rem;
  font-family: "Mulish", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.hero__truck-background {
  background: #039b4a;
}
.hero__truck-background img {
  /*coller l'image au bord droite*/
  margin-left: 43.5%;
}

.vehicules {
  margin-top: 6.25rem;
}
.vehicules__title {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 3.125rem;
  font-weight: 800;
  line-height: 1.25rem;
}
.vehicules__frame {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.125rem;
  max-width: 69.375rem;
  font-family: poppins;
  font-weight: normal;
  justify-content: space-between;
}
.vehicules__card {
  margin: 25px 0 25px 0;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
}
.vehicules__card img {
  height: 8.6875rem;
  width: 19.0625rem;
  border-radius: 10px 10px 0 0;
}
.vehicules .model {
  padding-left: 1.25rem;
  font-size: 1.25rem;
  height: 3.75rem;
  font-weight: bold;
}

.about {
  margin: 30px 15px 0 15px;
}
.about__text {
  display: block;
  max-width: 43.75rem;
  margin-right: 0.9375rem;
  /* Mozilla navigateur CSS Grid Inspector */
  /*
  /*Grid container*/
}
.about__text .title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 2.1875rem;
}
.about__text .subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.25rem;
  margin-top: 0.625rem;
  color: green;
}
.about__text .description {
  font-family: "Mulish", sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-top: 0.625rem;
}
.about__text .grid-container {
  padding-top: 0.625rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "title title title" "vehicles customers employees " "sites turnover refrigeration";
}
.about__text .grid-container p {
  font-size: 0.875rem;
}
.about__text .grid-container .title {
  grid-area: title;
}
.about__text .grid-container .title p {
  font-weight: bold;
  color: green;
}
.about__text .grid-container .vehicles {
  grid-area: vehicles;
}
.about__text .grid-container .vehicles p:last-child {
  font-size: 0.625rem;
  color: gray;
}
.about__text .grid-container .customers {
  grid-area: customers;
}
.about__text .grid-container .customers p:last-child {
  font-size: 0.625rem;
  color: gray;
}
.about__text .grid-container .employees {
  grid-area: employees;
}
.about__text .grid-container .employees p:last-child {
  font-size: 0.625rem;
  color: gray;
}
.about__text .grid-container .sites {
  grid-area: sites;
}
.about__text .grid-container .sites p:last-child {
  font-size: 0.625rem;
  color: gray;
}
.about__text .grid-container .turnover {
  grid-area: turnover;
}
.about__text .grid-container .turnover p:last-child {
  font-size: 10px;
  color: gray;
}
.about__text .grid-container .refrigeration {
  grid-area: refrigeration;
}
.about__text .grid-container .refrigeration p:last-child {
  font-size: 10px;
  color: gray;
}
.about img {
  margin-left: 0.9375rem;
  width: 25rem;
  height: 25rem;
}

.expertises {
  margin: 3.125rem 10% 0 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "title title title" "text1 car text3" "text2 car text4" "text5 text5 text5";
  /*
  https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Grid_Layout/Box_Alignment_in_CSS_Grid_Layout
    Rappel: 
    bloc/column axis
    Inline/ row axis
    L'axe en ligne est orthogonal à l'axe de bloc. 
    C'est la direction selon laquelle progresse le texte.

    align-items et align-self gèrent l'alignement des objets sur l'axe de bloc. 
    justify-self permettent quant à eux de gérer l'alignement sur l'axe en ligne

    texte aligner
    https://developer.mozilla.org/fr/docs/Web/CSS/text-align
    */
}
.expertises p {
  font-family: "Poppins", sans-serief;
  font-size: 12px;
  font-weight: bold;
}
.expertises__title {
  border: 1px solid red;
  grid-area: title;
  justify-self: center;
}
.expertises__title p {
  text-align: center;
  color: green;
}
.expertises__title p:last-child {
  padding-top: 10px;
  font-size: 35px;
  color: black;
}
.expertises__text1 {
  grid-area: text1;
  text-align: end;
}
.expertises__text1 p:last-child {
  padding: 10px;
  font-weight: normal;
}
.expertises__text2 {
  grid-area: text2;
  text-align: end;
}
.expertises__text2 p:last-child {
  padding: 10px;
  font-weight: normal;
}
.expertises__car {
  border: 1px solid blue;
  grid-area: car;
}
.expertises__car img {
  justify-content: center;
}
.expertises__text3 {
  grid-area: text3;
}
.expertises__text3 p:last-child {
  padding: 10px;
  font-weight: normal;
}
.expertises__text4 {
  grid-area: text4;
}
.expertises__text4 p:last-child {
  padding: 10px;
  font-weight: normal;
}
.expertises__text5 {
  grid-area: text5;
  justify-self: center;
}
.expertises__text5 p {
  text-align: center;
}
.expertises__text5 p:last-child {
  padding: 10px;
  font-weight: normal;
}

.services {
  margin-top: 50px;
  color: white;
}
.services__contents {
  position: relative;
  display: flex;
  width: 100%;
  background: linear-gradient(0deg, #039b4a 89.3%, white 70%);
}
.services__contents img {
  width: 50%;
}
.services__contents .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "title title" "opening maintenance" "parts repairs" "support customisation" "button button";
}
.services__contents .grid-container p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding: 14px 0 0 20px;
}
.services__contents .grid-container .title {
  padding-top: 140px;
  grid-area: title;
}
.services__contents .grid-container .title p {
  font-size: 50px;
}
.services__contents .grid-container .opening {
  grid-area: opening;
}
.services__contents .grid-container .opening p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .maintenance {
  grid-area: maintenance;
}
.services__contents .grid-container .maintenance p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .parts {
  grid-area: parts;
}
.services__contents .grid-container .parts p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .repairs {
  grid-area: repairs;
}
.services__contents .grid-container .repairs p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .support {
  border: 1px solid red;
  grid-area: support;
}
.services__contents .grid-container .support p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .customisation {
  grid-area: customisation;
}
.services__contents .grid-container .customisation p:last-child {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.services__contents .grid-container .button {
  color: black;
  grid-area: button;
}
.services__contents .grid-container .button p:last-child {
  font-family: "Mulish", sans-serif;
  font-weight: normal;
}

.contact__left-bloc {
  padding: 50px;
}
.contact__left-bloc h6 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  padding-left: 0.625rem;
}
.contact__left-bloc p {
  padding-top: 1.875rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5625rem;
  font-weight: 800;
  line-height: normal;
}
.contact__left-bloc p:last-child {
  padding-top: 1.25rem;
  font-family: "Mulish", sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.875rem;
}
.contact__right-bloc {
  padding: 50px;
  /* GRID */
}
.contact__right-bloc .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.875rem;
  gap: 1.875rem;
}
.contact__right-bloc .wrapper .box {
  width: 100%;
  position: relative;
  padding: 1.25rem;
  /*Input*/
  /*Label*/
}
.contact__right-bloc .wrapper .box input {
  width: 100%;
  font-size: 1.25rem;
  background: transparent;
  border: none;
  outline: none;
  /* outline-sytle de border */
  border-bottom: 1px solid turquoise;
  transition: 0.5s linear;
  background: turquoise;
  border: 1px solid magenta;
}
.contact__right-bloc .wrapper .box input:focus,
.contact__right-bloc .wrapper .box .wrapper .box input:valid {
  padding: 1.25rem 0.625rem;
  background: turquoise;
  margin-top: 0.625rem;
}
.contact__right-bloc .wrapper .box label {
  top: 0;
  left: 0;
  color: black;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1.25rem;
  transition: 0.5s linear;
  border: 1px solid red;
}

.container .flex {
  background: gray;
}

.maps__content-address {
  position: absolute;
  padding: 40px 0 0 30px;
}
.maps__content-address .contact {
  font-family: "Mulish", sans-serif;
  padding: 0 0 20px 20px;
  background: #e0d8d8;
  border-bottom: 1px solid gray;
}
.maps__content-address .contact span {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}
.maps__content-address .spots {
  background: white;
  padding-left: 1.25rem;
}
.maps__content-address .spots p {
  font-family: "Mulish", sans-serif;
  height: 7.3125rem;
  width: 33.4375rem;
  padding-top: 0.625rem;
  border-bottom: 1px solid gray;
  color: #000;
}
.maps__content-address .spots span {
  /*Title*/
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}
.maps__content-address .spots .chevron-right::after {
  content: "";
  margin-left: 31.25rem;
  display: inline-block;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 0.625rem;
  height: 0.625rem;
  transform: rotate(225deg);
}

/*Responsive maps */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__row .logo {
  padding-top: 2.1875rem;
  padding-left: 2.5rem;
}
.footer__row .logo span {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.footer__row .disclaimer {
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.footer__row .disclaimer p {
  font-family: "Mulish", sans-serif;
  font-size: 0.9375rem;
  margin: 0.625rem;
  padding-top: 1.25rem;
  line-height: 1.25rem;
}
.footer__row .disclaimer p:last-child {
  padding-bottom: 1.25rem;
}

.footer-bis {
  color: white;
  /* */
}
.footer-bis__legal {
  display: flex;
  align-items: center;
}
.footer-bis__legal p {
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  padding-left: 1.875rem;
}

.builder {
  margin-top: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.builder__row p {
  font-family: poppins;
  color: gray;
}
.builder__row span {
  font-size: 20px;
  color: red;
}
.builder__row a {
  color: black;
}

/*# sourceMappingURL=style.css.map */
