.about {
  margin: 9.375rem 0.9375rem 0 0.9375rem;

  &__text {
    display: block;
    max-width: 43.75rem;
    margin-right: 0.9375rem;

    .title {
      font-family: "Poppins", sans-serif;
      font-size: 1.875rem;
      font-weight: bold;
      line-height: 2.1875rem;
      @media screen and (max-width: 990px) {
        font-size: 50px;
        line-height: 50px;
      }
      @media screen and (max-width: 640px) {
        padding-left: 60px;
        font-size: 45px;
        line-height: 60px;
      }
    }
    .subtitle {
      font-family: "Poppins", sans-serif;
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.25rem;
      margin-top: 0.625rem;
      color: green;
      @media screen and (max-width: 1146px) {
        font-size: 18px;
        line-height: 1.375rem;
      }
      @media screen and (max-width: 990px) {
        font-size: 45px;
        line-height: 50px;
      }
      @media screen and (max-width: 640px) {
        margin: 50px 0 0 12px;
        text-align: center;
        width: 412px;
        font-size: 45px;
        line-height: 80px;
      }
    }
    .description {
      font-family: "Mulish", sans-serif;
      font-size: 0.75rem;
      line-height: 1.125rem;
      margin-top: 0.625rem;
      @media screen and (max-width: 1146px) {
        padding-top: 1.375rem;
        font-size: 1.375rem;
      }
      @media screen and (max-width: 990px) {
        font-size: 35px;
        line-height: 50px;
        justify-content: space-between;
      }
      @media screen and (max-width: 640px) {
        display: none;
      }
    }
    /* Mozilla navigateur CSS Grid Inspector */
    /*
    /*Grid container*/
    .grid-container {
      padding-top: 0.625rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "title title title"
        "vehicles customers employees "
        "sites turnover refrigeration";
      @media screen and (max-width: 640px) {
        display: none;
      }
      p {
        font-size: 0.875rem;
      }
      .title {
        grid-area: title;
        p {
          font-weight: bold;
          color: green;
          @media screen and (max-width: 1146px) {
            font-size: 1.25rem;
          }
        }
      }
      .vehicles {
        grid-area: vehicles;
        p:last-child {
          font-size: 0.625rem;
          color: gray;
        }
      }
      .customers {
        grid-area: customers;
        p:last-child {
          font-size: 0.625rem;
          color: gray;
        }
      }
      .employees {
        grid-area: employees;
        p:last-child {
          font-size: 0.625rem;
          color: gray;
        }
      }
      .sites {
        grid-area: sites;
        p:last-child {
          font-size: 0.625rem;
          color: gray;
        }
      }
      .turnover {
        grid-area: turnover;
        p:last-child {
          font-size: 10px;
          color: gray;
        }
      }
      .refrigeration {
        grid-area: refrigeration;
        p:last-child {
          font-size: 0.625rem;
          color: gray;
        }
      }
    }
  }

  img {
    margin-left: 0.9375rem;
    width: 27.125rem;
    height: 25rem;
    background-image: url("./images/truck_driver.JPG");

    @media (min-width: 640px) and (max-width: 1146px) {
      background-image: url("./images/truck_driver2.jpg");
      background-repeat: no-repeat;
      width: 10.875rem;
    }
    @media screen and (max-width: 990px) {
      display: none;
    }
  }
}
