.about {
  /*Spacing conteneur*/
  margin: 30px 15px 0 15px;

  &__text {
    display: block;
    max-width: 700px;
    margin-right: 15px;

    .title {
      font-family: "Poppins", sans-serif;
      font-size: 35px;
      line-height: 35px; /**/
    }
    .subtitle {
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      line-height: 20px; /**/
      margin-top: 10px;
      color: green;
    }
    .description {
      font-size: 12px;
      line-height: 18px; /**/
      margin-top: 10px;
    }
  }

  img {
    /*Responsive image*/
    margin-left: 15px;
    width: 400px;
  }
}
