.builder {
  margin-top: 0.9375rem;
  align-items: center;
  display: flex;
  justify-content: center;
  &__row {
    p {
      font-family: poppins;
      color: gray;
    }
    span {
      font-size: 1.25rem;
      color: red;
    }
    a {
      color: $black;
    }
  }
}
