.contact {
  margin: 0;

  //TODO

  &__left-bloc {
    border: 1px solid green;
  }
  &__right-bloc {
    /* GRID */
    .wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 1.875rem;
      gap: 1.875rem;

      .box {
        width: 100%;
        position: relative;
        padding: 1.25rem;

        /*Input*/
        input {
          width: 100%;
          font-size: 1.25rem;
          background: transparent;
          border: none;
          outline: none; /* outline-sytle de border */
          border-bottom: 1px solid turquoise;
          transition: 0.5s linear;
          background: turquoise;
          border: 1px solid magenta;
        }

        input:focus,
        .wrapper .box input:valid {
          padding: 20px 10px;
          background: turquoise;
          margin-top: 0.625rem;
        }
        /*Label*/
        label {
          top: 0;
          left: 0;
          color: black;
          font-size: 18px;
          font-weight: bold;
          padding: 20px;
          transition: 0.5s linear;
          border: 1px solid red;
        }
      }
    }
  }
}
.container .flex {
  background: gray;
}
