.contact {
  @media screen and (max-width: 640px) {
    background: b;
  }
  &__left-bloc {
    background: $backgroundGray;
    padding: 50px;
    h6 {
      font-family: "Poppins", sans-serif;
      font-size: 2.5rem;
      padding-left: 0.625rem;
    }
    p {
      padding-top: 1.875rem;
      font-family: "Poppins", sans-serif;
      font-size: 1.5625rem;
      font-weight: 800;
      line-height: normal;
    }
    p:last-child {
      padding-top: 1.25rem;
      font-family: "Mulish", sans-serif;
      font-size: 1.25rem;
      font-weight: normal;
      line-height: 1.875rem;
    }
  }
  &__right-bloc {
    @media (min-width: 639px) and (max-width: 2000px) {
      padding: 50px;
      /* GRID */
      .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 1.875rem;
        gap: 1.875rem;

        /* Element */
        .box {
          width: 100%;
          position: relative;
          padding: 1.25rem;

          /*Input*/
          input {
            width: 100%;
            font-size: 1.25rem;
            background: transparent;
            border: none;
            outline: none; /* outline-sytle de border */
            border-bottom: 1px solid gray;
            transition: 0.5s linear;
          }

          input:focus,
          .wrapper .box input:valid {
            padding: 5px 5px;
            background: $greenTruck;
            opacity: 0.3;
            margin-top: 0.625rem;
            transition: 0.5s all ease;
          }
          input[type="submit"] {
            width: 250px;
            height: 40px;
            font-size: 12px;
            font-weight: normal;
            color: white;
            cursor: pointer;
            background: $greenTruck;
          }
          /*Label*/
          label {
            top: 0;
            left: 0;
            font-family: "Poppins", sans-serif;
            color: black;
            font-size: 14px;
            font-weight: bold;
            transition: 0.5s linear;
          }
          label.info {
            font-size: 12px;
            font-weight: normal;
          }
          textarea {
            background: transparent;
            border: 0 none;
            width: 100%;
            border-bottom: 1px solid gray;
          }
          textarea:focus {
            background: $greenTruck;
            opacity: 0.3;
          }
          select {
            background: transparent;
            border: none;
            width: 100%;
            border-bottom: 1px solid gray;
          }
        }
      }
    }
  }
  /*Mobile*/
  @media screen and (max-width: 639px) {
    display: grid;
  }
  .container .flex {
    background: gray;

    /*Fin media*/
  }
}
