.expertises {
  background: gray;
  display: grid;
  min-width: 0;
  min-height: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "title title title"
    "text1 car text3"
    "text2 car text4"
    "text5 text5 text5";

  &__title {
    background: red;
    grid-area: title;
    min-width: 0;
    min-height: 0;
  }
  &__text1 {
    background: yellowgreen;
    grid-area: text1;
    min-width: 0;
    min-height: 0;
  }
  &__text2 {
    background: magenta;
    grid-area: text2;
  }
  &__car {
    background: sienna;
    border: 2px solid red;
    grid-area: car;
  }
  &__text3 {
    background: green;
    grid-area: text3;
  }
  &__text4 {
    background: teal;
    grid-area: text4;
  }
  &__text5 {
    background: blue;
    grid-area: text5;
  }
}
