.footer {
  &__row {
    display: flex;
    justify-content: space-between;
    .logo {
      padding-top: 2.1875rem;
      padding-left: 2.5rem;
      span {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
      }
    }
    .disclaimer {
      display: flex;
      flex-direction: column;
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      @media screen and (max-width: 640px) {
        background: $backgroundGray;
        width: 412px;
        height: 500px;
        overflow: auto;
      }
      p {
        font-family: "Mulish", sans-serif;
        font-size: 0.9375rem;
        margin: 0.625rem;
        padding-top: 1.25rem;
        line-height: 1.25rem;

        @media screen and (max-width: 640px) {
          font-size: 1.875rem;
          color: gray;
          line-height: 2.5rem;
        }
      }
      p:last-child {
        padding-bottom: 1.25rem;
      }
    }
  }
}
