.footer-bis {
  color: white;
  /* */
  &__legal {
    display: flex;
    align-items: center;
    a {
      color: white;
    }
    p {
      font-family: "Mulish", sans-serif;
      font-weight: normal;
      padding-left: 1.875rem;
    }
  }
}
