@import "_mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin-top: 0px;
  line-height: 1.15; // used to set the distance between lines of text.
  font-size: 2.31rem; //TODO
  font-weight: 300; //TODO
}

a,
a:visited,
a:hover {
  color: white; //TODO
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/*----------  Buttons  ----------*/
button,
.button {
  //TODO
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  /*transition: opacity 300ms ease-in-out;*/
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  /*font-family: inherit;*/
  font-weight: 100;
  font-size: 14px;
  /*font-weight: normal;*/
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: black;
}

.button.green {
  background-color: #039f4e;
  color: #fefefe;
}

.button_reference {
  display: inline-block; /*ok*/
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;

  border: 1px solid transparent;

  border-radius: 0; /*ok*/

  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 0.9rem; /* other ok*/
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer; /*ok*/
  background-color: #039f4e;
  color: #fefefe;
}

/*----------  MediaQueries (Mobile First) ----------*/
.hide-for-mobile {
  //hide for mobile and tablet button menu
  @include breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  //hide for desktop  hamburger
  @include breakpoint-up(large) {
    display: none;
  }
}

/*=====  Spacing naming  ======*/
/** 
1- --pall(padding all)
2- --py(padding vertical)
3- --px(padding horizontal)
4- --pt(padding top)
5- --pl(padding left)
6- --pr(padding right)
7- --pb(padding bottom)
**/

/* 1440px + hyperclass ok*/
.container {
  max-width: 90rem;
  margin: auto;
  /*border: 1px solid red;*/

  /*----------  Hyperclass ----------*/
  &--pall {
    padding: 25px;
  }
  &--py {
    // Vertical
    padding-top: 4.375rem;
    padding-bottom: 4.375remm;

    @include breakpoint-up(large) {
    }
  }
  &--px {
    //Horizontal
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  &--pt {
    padding-top: 4.375rem;

    /*Breakpoint*/
    /**/
  }
  &--pl {
    padding-left: 1.5rem;
  }
  &--pr {
    padding-right: 1.5rem;
  }
  &--pb {
    padding-bottom: 4.375rem;

    /*Breakpoint*/
    /**/
  }

  &-bg-c-green {
    background: $greenTruck;
  }
  &-bg-c-gray {
    background: $backgroundGray;
  }
  &-bg-c-black {
    background: black;
  }
}

//Display + huperclass
.flex {
  display: flex;

  //Hyperclass
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-fs {
    justify-content: flex-start;
  }
  &-ai-c {
    align-content: center;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-d-col {
    flex-direction: column;
    align-items: center;
  }
}
//TODO
.flex-direction-r {
  flex-direction: column;
  display: flex;
  align-items: center;
}
