/*=====  Section 1 [ Header ]  ======*/
.header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.625rem;
    padding-right: 3.45rem;
    padding-bottom: 0.625rem;
    padding-left: 3.45rem;
  }

  &__block {
    display: block;
  }

  &__logo {
    img {
      width: 5.625rem;
      height: 3.25rem;
    }
  }

  &__text {
    display: block;
    font-family: "Poppins", sans-serif;
    line-height: 1.0625rem;
  }

  &__links {
    display: flex;

    @media screen and (max-width: 1146px) {
      display: none;
    }

    a {
      position: relative;
      font-family: "Poppins", sans-serif;
      font-size: $font-sm;
      font-weight: 600;
      color: $black;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__location {
    display: flex;
    align-items: center;
    font-weight: bold;

    img {
      width: 2.5rem;
      height: 1.75rem;
    }

    span {
      position: relative;
      font-family: "Poppins", sans-serif;
      font-size: $font-sm;
      color: $black;
      margin-left: 1.125rem; //TODO
    }

    i {
      cursor: pointer;
    }
  }
}
