/*=====  Section 1 [ Header ]  ======*/
.header {
  /*background: blue;*/

  &green {
    background: $greenTruck;
  }
  //TODO
  /** 
   * Section Name
   * > <nav>
   * >> header__block
   * >>> header__logo
   * >>> header__text
   * >> header__links
   * >>> <a>
   * >> header__location
   * >>> img
   * >>> span
   */

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.625rem;
    padding-right: 3.45rem;
    padding-bottom: 0.625rem;
    padding-left: 3.45rem;
  }

  &__block {
    display: block;
  }

  &__logo {
    img {
      width: 5.625rem;
      height: 3.25rem;
    }
  }

  &__text {
    display: block;
  }

  &__links {
    display: flex;

    a {
      position: relative;
      font-size: $font-med;
      font-weight: 400;
      color: $black;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__location {
    display: flex;
    align-items: center;

    img {
      width: 2.5rem;
      height: 1.75rem;
    }

    span {
      position: relative;
      font-size: $font-sm;
      color: $black;
      margin-left: 1.125rem; //TODO
    }

    i {
      cursor: pointer;
    }
  }
}
