.hero {
  &__text-box {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    padding: 70px 0 0 30px;
    margin-left: 5%;
    color: white;

    @media screen and (max-width: 640px) {
      justify-content: center;
      margin-left: 0;
      width: 412px;
      padding: auto;
      transition: 1s all ease;
    }
  }

  &__title {
    padding-top: 30px;
    p {
      font-family: "Poppins", sans-serif;
      font-size: 45px;
      font-weight: bold;
      line-height: 2.1875rem;
      @media screen and (max-width: 640px) {
        width: 380px;
        line-height: 50px;
      }
    }
    p:last-child {
      padding-top: 30px;
    }
  }

  &__description {
    padding-top: 1.25rem;
    font-family: "Mulish", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  &__truck-background {
    background: $greenTruck;
    height: 500px;

    img {
      margin-left: 43.5%;
      padding: 0;
    }
  }
}
