.hero {
  &__text-box {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 17.25rem;
    padding: 0.9375rem;
    margin-left: 5%;
    color: white;
  }
  &__title {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 20px; /**/
  }

  &__description {
    //TODO
    /*typo mulish*/
    font-size: 14px;
    line-height: 20px; /**/
  }
  &__truck-background {
    background: $greenTruck;
    img {
      //TODO
      /*coller l'image au bord droite*/
      margin-left: 43.5%;
    }
  }
}

/* Slide Effect
#record {
  -webkit-transition: left 0.5s ease-out; 
     -moz-transition: left 0.5s ease-out; 
      -ms-transition: left 0.5s ease-out; 
       -o-transition: left 0.5s ease-out; 
          transition: left 0.5s ease-out;
}

#container:hover #record {
    left: 100px;  
}
*/
