.maps {
  &__content-address {
    position: absolute;

    padding: 40px 0 0 30px;
    .contact {
      padding: 0 0 20px 20px;
      background: rgb(224, 216, 216);
      border-bottom: 1px solid gray;
      span {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .spots {
      background: white;
      padding-left: 20px;

      p {
        height: 117px;
        width: 535px;
        padding-top: 20px;
        border-bottom: 1px solid gray;
        color: #000;
      }
      span {
        /*Title*/
        font-size: 20px;
        font-weight: bold;
      }
      .chevron-right::after {
        content: "";
        margin-left: 50px;
        display: inline-block;
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        width: 10px;
        height: 10px;
        transform: rotate(225deg);
      }
    }
  }
}

/*535 x 468 4 sections*/
