.maps {
  &__content-address {
    position: absolute;
    padding: 40px 0 0 30px;
    @media screen and (max-width: 1146px) {
      max-width: 320px;
    }

    .contact {
      font-family: "Mulish", sans-serif;
      padding: 0 0 20px 20px;
      background: rgb(224, 216, 216);
      border-bottom: 1px solid gray;

      span {
        font-family: "Poppins", sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
      }
    }

    .spots {
      background: white;
      padding-left: 1.25rem;

      p {
        font-family: "Mulish", sans-serif;
        height: 7.3125rem;
        width: 33.4375rem;
        padding-top: 0.625rem;
        border-bottom: 1px solid gray;
        color: #000;
        @media screen and (max-width: 1146px) {
          max-width: 15.625rem;
        }
      }
      span {
        /*Title*/
        font-family: "Poppins", sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
      }
      .chevron-right::after {
        content: "";
        margin-left: 31.25rem;
        display: inline-block;
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        width: 0.625rem;
        height: 0.625rem;
        transform: rotate(225deg);

        @media screen and (max-width: 1146px) {
          margin-left: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    &__content-address-mobile {
      position: absolute;
      /*padding: 40px 0 0 30px;*/
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "contact contact contact"
        "town1 town2 town3";

      p {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
      }

      .contact {
        grid-area: contact;
        text-align: center;
        p {
          font-weight: normal;
          span {
            font-size: 30px;
          }
        }
      }
      .town1 {
        grid-area: town1;
        padding: 0 0 20px 15px;
        border-right: 1px solid gray;
        p:last-child {
          padding-top: 14px;
          font-weight: normal;
        }
      }
      .town2 {
        grid-area: town2;
        padding: 0 0 20px 15px;
        border-right: 1px solid gray;
        p:last-child {
          padding-top: 14px;
          font-weight: normal;
        }
      }
      .town3 {
        padding: 0 0 20px 15px;
        p:last-child {
          padding-top: 14px;
          font-weight: normal;
        }
      }

      background: white;
      color: black;
    }
  }
}
