.services {
  margin-top: 50px;
  color: white;

  &__contents {
    border: 1px solid red;
    position: relative;
    display: flex;
    width: 100%;
    background: linear-gradient(0deg, $greenTruck 89.3%, white 70%);
    img {
      width: 50%;
    }
    .grid-container {
      background: red;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "title title"
        "opening maintenance"
        "parts repairs"
        "support customisation"
        "button button";

      .title {
        background: yellow;
        grid-area: title;
      }
      .opening {
        background: blue;
        grid-area: opening;
      }
      .maintenance {
        background: magenta;
        grid-area: maintenance;
      }
      .parts {
        background: teal;
        grid-area: parts;
      }
      .repairs {
        background: turquoise;
        grid-area: repairs;
      }
      .support {
        background: green;
        grid-area: support;
      }
      .customisation {
        background: rebeccapurple;
        grid-area: customisation;
      }
      .button {
        background: seagreen;
        grid-area: button;
      }
    }
  }
}
