.services {
  margin-top: 50px;
  color: white;

  &__contents {
    position: relative;
    display: flex;
    width: 100%;
    background: linear-gradient(0deg, $greenTruck 89.3%, white 70%);

    @media screen and (max-width: 1146px) {
      justify-content: center;
    }

    img {
      width: 50%;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "title title"
        "opening maintenance"
        "parts repairs"
        "support customisation"
        "button button";

      @media screen and (max-width: 640px) {
        padding-top: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
          "title"
          "opening "
          "maintenance"
          "parts"
          "repairs"
          "support"
          "customisation"
          "button";
        transition: 1s all ease;
      }

      p {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        padding: 14px 0 0 20px;

        @media screen and (max-width: 640px) {
          font-size: 28px;
        }
      }

      .title {
        padding-top: 140px;
        grid-area: title;
        p {
          font-size: 50px;
        }
      }
      .opening {
        grid-area: opening;
        p:last-child {
          font-family: "Mulish", sans-serif;
          font-size: 14px;
          font-weight: normal;
        }
      }
      .maintenance {
        grid-area: maintenance;
        p:last-child {
          font-family: "Mulish", sans-serif;
          font-size: 14px;
          font-weight: normal;
        }
      }
      .parts {
        grid-area: parts;
        p:last-child {
          font-family: "Mulish", sans-serif;
          font-size: 14px;
          font-weight: normal;
        }
      }
      .repairs {
        grid-area: repairs;
        p:last-child {
          font-family: "Mulish", sans-serif;
          font-size: 14px;
          font-weight: normal;
        }
      }
      .support {
        border: 1px solid red;
        grid-area: support;
        p:last-child {
          font-family: "Mulish", sans-serif;
          font-size: 14px;
          font-weight: normal;
        }
      }
      .customisation {
        grid-area: customisation;
        p:last-child {
          font-family: "Mulish", sans-serif;
          font-size: 14px;
          font-weight: normal;
        }
      }
      .button {
        color: black;
        grid-area: button;
        p:last-child {
          font-family: "Mulish", sans-serif;
          font-weight: normal;
        }
      }
    }
  }
}
