/*----------  Primary colors  ----------*/
// https://hslpicker.com/

$colorName: hsl(336, 100%, 50%, 1);
$colorName2: hsl(127, 100%, 50%, 1);
$colorName3: hsl(212, 100%, 50%, 1);

/*----------  Neutral  ----------*/
$colorName4: hsl(336, 100%, 50%, 1);
$colorName5: hsl(127, 100%, 50%, 1);
$colorName6: hsl(212, 100%, 50%, 1);

/*----------  Font Sizes  ----------*/
$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
