.vehicules {
  margin-top: 6.25rem;

  &__title {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 3.125rem;
    font-weight: 800;
    line-height: 1.25rem;
  }

  &__frame {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.125rem;
    max-width: 69.375rem;
    font-family: poppins;
    font-weight: normal;
    justify-content: space-between;

    @media screen and (max-width: 1146px) {
      max-width: 700px;
    }
  }
  &__card {
    margin: 25px 0 25px 0;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
    box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
    img {
      height: 8.6875rem;
      width: 19.0625rem;
      border-radius: 10px 10px 0 0;
    }
  }
  .model {
    padding-left: 1.25rem;
    font-size: 1.25rem;
    height: 3.75rem;
    font-weight: bold;
  }
}
