.vehicules {
  margin-top: 6.25rem;

  &__title {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 3.125rem;
    font-weight: 800;
    line-height: 1.25rem;
    transition: 1s all ease;

    @media screen and (max-width: 1146px) {
      font-size: 40px;
      font-weight: 800;
      transition: 1s all ease;
    }
  }

  &__frame {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.125rem;
    max-width: 69.375rem;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    justify-content: space-between;

    @media screen and (max-width: 1146px) {
      max-width: 850px;
    }
    @media screen and (max-width: 1000px) {
      max-width: 650px;
    }
  }
  &__card1 {
    background: red;
    margin: 25px 0 25px 0;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
    box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);

    /*1*/
    .image1 {
      position: relative;
      display: inline-block;
      width: 19.0625rem;
      height: 8.6875rem;
      background: url("/images/models/1/truck_model_01_small.jpg") no-repeat;
      border-radius: 10px 10px 0 0;

      @media screen and (max-width: 1146px) {
        background: url("/images/models/1/truck_model_01_medium.jpg") no-repeat;
        width: 405px;
        height: 185px;
        /*image plus grande*/
      }
      @media screen and (max-width: 1000px) {
        background: url("/images/models/1/truck_model_01_big.jpg") no-repeat;
        width: 504px;
        height: 247px;
        /*image plus grande*/
      }
    }
    .image1:hover {
      background: url("/images/models/1/truck_H30_small.jpg") no-repeat;
      @media screen and (max-width: 1146px) {
        background: url("/images/models/1/truck_H30_medium.jpg") no-repeat;
      }
      @media screen and (max-width: 1000px) {
        background: url("/images/models/1/truck_H30_big.jpg") no-repeat;
      }
    }
  }

  &__card2 {
    background: red;
    margin: 25px 0 25px 0;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
    box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
    /*2*/
    .image2 {
      position: relative;
      display: inline-block;
      width: 19.0625rem;
      height: 8.6875rem;
      background: url("/images/models/1/truck_model_01_small.jpg") no-repeat;
      border-radius: 10px 10px 0 0;

      @media screen and (max-width: 1146px) {
        background: url("/images/models/1/truck_model_01_medium.jpg") no-repeat;
        width: 405px;
        height: 185px;
        /*image plus grande*/
      }
      @media screen and (max-width: 1000px) {
        background: url("/images/models/1/truck_model_01_big.jpg") no-repeat;
        width: 504px;
        height: 247px;
        /*image plus grande*/
      }
    }
    .image2:hover {
      background: url("/images/models/1/truck_H30_small.jpg") no-repeat;
      @media screen and (max-width: 1146px) {
        background: url("/images/models/1/truck_H30_medium.jpg") no-repeat;
      }
      @media screen and (max-width: 1000px) {
        background: url("/images/models/1/truck_H30_big.jpg") no-repeat;
      }
    }
  }

  /*3*/
  .image3 {
    position: relative;
    display: inline-block;
    width: 19.0625rem;
    height: 8.6875rem;
    background: url("/images/models/1/truck_model_01_small.jpg") no-repeat;
    border-radius: 10px 10px 0 0;

    @media screen and (max-width: 1146px) {
      background: url("/images/models/1/truck_model_01_medium.jpg") no-repeat;
      width: 405px;
      height: 185px;
      /*image plus grande*/
    }
    @media screen and (max-width: 1000px) {
      background: url("/images/models/1/truck_model_01_big.jpg") no-repeat;
      width: 504px;
      height: 247px;
      /*image plus grande*/
    }
  }
  .image3:hover {
    background: url("/images/models/1/truck_H30_small.jpg") no-repeat;
    @media screen and (max-width: 1146px) {
      background: url("/images/models/1/truck_H30_medium.jpg") no-repeat;
    }
    @media screen and (max-width: 1000px) {
      background: url("/images/models/1/truck_H30_big.jpg") no-repeat;
    }
  }

  &__card4 {
    background: red;
    margin: 25px 0 25px 0;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
    box-shadow: 5px 9px 22px 4px rgba(0, 0, 0, 0.36);
    /*4*/
    .image4 {
      position: relative;
      display: inline-block;
      width: 19.0625rem;
      height: 8.6875rem;
      background: url("/images/models/4/truck_model_04_small.JPG") no-repeat;
      border-radius: 10px 10px 0 0;

      @media screen and (max-width: 1146px) {
        background: url("/images/models/4/truck_model_04_medium.JPG") no-repeat;
        width: 405px;
        height: 185px;
        /*image plus grande*/
      }
      @media screen and (max-width: 1000px) {
        background: url("/images/models/4/truck_model_04_big.JPG") no-repeat;
        width: 504px;
        height: 247px;
        /*image plus grande*/
      }
    }
    .image4:hover {
      background: url("/images/models/4/truck_dyna_small.jpg") no-repeat;
      @media screen and (max-width: 1146px) {
        background: url("/images/models/4/truck_dyna_medium.jpg") no-repeat;
      }
      @media screen and (max-width: 1000px) {
        background: url("/images/models/4/truck_dyna_big.jpg") no-repeat;
      }
    }
  }
  /*5*/
  .image5 {
    position: relative;
    display: inline-block;
    width: 19.0625rem;
    height: 8.6875rem;
    background: url("/images/models/1/truck_model_01_small.jpg") no-repeat;
    border-radius: 10px 10px 0 0;

    @media screen and (max-width: 1146px) {
      background: url("/images/models/1/truck_model_01_medium.jpg") no-repeat;
      width: 405px;
      height: 185px;
      /*image plus grande*/
    }
    @media screen and (max-width: 1000px) {
      background: url("/images/models/1/truck_model_01_big.jpg") no-repeat;
      width: 504px;
      height: 247px;
      /*image plus grande*/
    }
  }
  .image5:hover {
    background: url("/images/models/1/truck_H30_small.jpg") no-repeat;
    @media screen and (max-width: 1146px) {
      background: url("/images/models/1/truck_H30_medium.jpg") no-repeat;
    }
    @media screen and (max-width: 1000px) {
      background: url("/images/models/1/truck_H30_big.jpg") no-repeat;
    }
  }
  .model {
    padding-left: 1.25rem;
    font-size: 1.25rem;
    height: 3.75rem;
    font-weight: bold;
  }
}
